# Convex
NEXT_PUBLIC_CONVEX_URL=https://abc-123.region.convex.cloud

# Auth
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_DISCORD_ID=your-discord-client-id
BETTER_AUTH_DISCORD_SECRET=your-discord-client-secret
AUTH_DISCORD_TOKEN=your-discord-bot-token-here